<div class="container">
  <div class="row">
   <p class="title col-3 offset-1 px-5">マイページ</p>
  </div>

  <div class="row">
   <div class="col-5 offset-1 mt-3">
     <p class= "h5">登録情報
     <%= link_to "編集する", customers_edit_path(current_customer), class: 'btn btn-success'%></p>
   </div>
  </div>


  <div class="row">
   <div class="col-10 offset-1 mt2">
    <table class="mypage-table table-bordered border-dark">
     <tr class="mypage-table"><th class="table-active">氏名</th><td class="px-2"><%= @customer.last_name %>  <%= @customer.first_name %></td></tr>
     <tr class="mypage-table"><th class="table-active">カナ</th><td class="px-2"><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></td></tr>
     <tr class="mypage-table"><th class="table-active">郵便番号</th><td class="px-2"><%= @customer.postal_code %></td></tr>
     <tr class="mypage-table"><th class="table-active">住所</th><td class="px-2"><%= @customer.address %></td></tr>
     <tr class="mypage-table"><th class="table-active">電話番号</th><td class="px-2"><%= @customer.telephone_number %></td></tr>
     <tr class="mypage-table"><th class="table-active pr-4">メールアドレス</th><td class="px-2"><%= @customer.email %></td></tr>
    </table>
   </div>
  </div>
  <div class="row">
     <div class="col-2 offset-1 mt-3">
      <h5>配送先</h5>
     </div>
     <div class="col-2 mt-3">
      <%= link_to "一覧を見る", addresses_path, class: 'btn btn-primary' %>
     </div>
  </div>
  <div class="row">
      <div class="col-2 offset-1 mt-3">
      <h5>注文履歴</h5>
     </div>
     <div class="col-2 mt-3">
      <%= link_to "一覧を見る", orders_path, class: 'btn btn-primary' %>
     </div>
  </div>




