<div class="container">
 <div class="row">
     <p class="title col-2 offset-1 px-4">商品一覧</p>
     <div class="btn-plus col-1 ml-auto">
      <%= link_to new_admin_item_path, class: "btn btn-link mt-2" do %>
      <h4>+</h4>
      <% end %>
     </div>
  </div>


 <table class="table table-hover table-inverse">
    <thed>
      <tr class="table-secondary">
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thed>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td><% if item.is_active == true %>
              <%= item.is_active = "販売中" %>
            <% else %>
              <%= item.is_active = "販売停止中" %>
            <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
 </div>
</div>