<div class="container">
  <div class= "row">
   <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">


    <p class= "title">管理者ログイン</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

     <div class="field">
      <label for="emal" class="col-4">メールアドレス</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
     </div>

     <div class="field">
      <label for="password" class="col-4">パスワード</label>
      <%= f.password_field :password, autocomplete: "current-password" %>
     </div>

     <div class="actions">
      <label for="space": class="col-4"></label>
      <%= f.submit :ログイン, class: 'btn btn-primary' %>
     </div>
    <% end %>

    <%= render "admin/shared/links" %>
  </div>

</div>





