<h2><%= @customer.full_name %>さんの会員詳細</h2>

<h5>会員ID</h5>
<%= @customer.id %>

<h5>氏名</h5>
<%= @customer.last_name %>
<%= @customer.first_name %>

<h6>フリガナ</h6>
<%= @customer.last_name_kana %>
<%= @customer.first_name_kana %>

<h5>郵便番号</h5>
<%= @customer.postal_code %>

<h5>住所</h5>
<%= @customer.address %>

<h5>電話番号</h5>
<%= @customer.telephone_number %>

<h5>メールアドレス</h5>
<%= @customer.email %>

<h5>会員ステータス</h5>
<% if @customer.is_active == true %>
  <%= is_active = "有効" %>
<% else %>
  <%= is_active = "退会" %>
<% end %><br>


<%= link_to "編集する", edit_admin_customer_path(@customer.id) %>
<%= link_to "注文履歴一覧を見る", admin_orders_show_path %>



