<div class="container">
  <div class="row">
   <div class="col-12">

   <p class= "title">ログイン</p><br>
   <p class= "subtitle">会員の方はこちらからログイン</p>

   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
     <label for="email": class="col-3">メールアドレス</label>
     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
     <label for="password": class= "col-3">パスワード</label>
     <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
     <label for="space" class="col-3"></label>
     <%= f.submit "ログイン", class: 'btn btn-primary' %>
    </div>
   <% end %>

   <%= render "public/shared/links" %>


<p class= "subtitle">会員登録がお済みでない方</p><br>
<label for="space" class="col-2"></label>
<%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。