<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="row">
          <p class="logo h2 text-center"><span>LOGO</span></p>
          </div>

          <div class="row pt-4">
            <p cless="greeting">ようこそ、<%= current_customer.last_name %>さん！</p>
          </div>

          <div class="row">
          <ul class="navbar-nav ml-auto">
            <li><%= link_to customers_mypage_path, class: "btn btn-outline-dark ml-3" do %></i>
                 マイページ
                <% end %>
            </li>
            <li><%= link_to items_path, class: "btn btn-outline-dark ml-3" do %></i>
                 商品一覧
                <% end %>
            </li>
            <li><%= link_to cart_items_path, class: "btn btn-outline-dark ml-3" do %></i>
                 カート
                <% end %>
            </li>
            <li><%= link_to destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark ml-3" do %></i>
                 ログアウト
                <% end %>
            </li>
          </ul>
          </div>
        </div>
      </nav>

      <% elsif admin_signed_in? %>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="row">
          <p class="logo h2 text-center"><span>LOGO</span></p>
          </div>

          <div class="row">
          <ul class="navbar-nav ml-auto">
            <li><%= link_to admin_items_path, class: "btn btn-outline-dark ml-3" do %></i>
                 商品一覧
                <% end %>
            </li>
            <li><%= link_to admin_customers_path, class: "btn btn-outline-dark ml-3" do %></i>
                 会員一覧
                <% end %>
            </li>
            <li><%= link_to admin_homes_top_path, class: "btn btn-outline-dark ml-3" do %></i>
                 注文履歴一覧
                <% end %>
            </li>
            <li><%= link_to admin_genres_path, class: "btn btn-outline-dark ml-3" do %></i>
                 ジャンル一覧
                <% end %>
            </li>
            <li><%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark ml-3" do %></i>
                 ログアウト
                <% end %>
            </li>
          </ul>
          </div>
        </div>
      </nav>
      <% else %>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="row">
          <p class="logo h2 text-center"><span>LOGO</span></p>
          </div>
          <div class="row">
          <ul class="navbar-nav ml-auto">
            <li><%= link_to about_path, class: "btn btn-outline-dark ml-3" do %></i>
                 About
                <% end %>
            </li>
            <li><%= link_to items_path, class: "btn btn-outline-dark ml-3" do %></i>
                 商品一覧
                <% end %>
            </li>
            <li><%= link_to new_customer_registration_path, class: "btn btn-outline-dark ml-3" do %></i>
                 新規登録
                <% end %>
            </li>
            <li><%= link_to new_customer_session_path, class: "btn btn-outline-dark ml-3" do %></i>
                 ログイン
                <% end %>
            </li>
          </ul>
          </div>
        </div>
      <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
